body 
{
    background-color: #F0F0F0;
}

header 
{
    background-color: #b5b5b5;
    color: #4C9ED9 ;
    vertical-align: bottom;
    width: 1024px;
    margin: 0 auto;
/*    margin: 20;*/
}
header h1
{
    padding: 15px 20px;
}


#wrapper
{
    background-color: #E0E0E0;
    width: 1024px;
    margin: 0 auto;
}

#introduction
{
    margin: 20px;
    text-align: left ;
}
#introduction h2 {
    text-align: center ;
}
#introduction p form {
    margin: 20px;
}
#introduction button {
    margin : 20px;
}

nav
{
    background-color: #959595;
    float: left;
    width: 150px;
    border: 1px solid black;
}
#menu
{
    margin: 0 ;
    padding: 5px ;
    list-style: none ;
    text-align: left ;
}
#menu li {
/*display: inline ;*/
    margin-right: 1px ;
    color: #fff ;
}
#menu li a {
  padding: 4px 20px ;
  color: #000 ;
  /*border: 1px solid #600 ;*/
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
  vertical-align: bottom;
}
#navigation li a {
  padding: 4px 20px ;
  background: #c00 ;
  color: #fff ;
  border: 1px solid #600 ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
}


section
{
    margin-left: 170px;
    vertical-align: top;
    text-align: left;
    min-height: 500px;
}


footer 
{
    background-color: #b5b5b5; 
    font: 90% monospace;
    /*color: #787878;*/
    color: #4C9ED9 ;
    vertical-align: bottom;
    padding-top: 4px;
    width: 1024px;
    margin: auto;
}

/* unvisited link, visited link, selected link */
a:link, a:visited, a:active {
    color: #4C9ED9 ;
}

/* mouse over link */
a:hover {
    color: red;
}